*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: #f8fafc;
    color: #1e293b;
    line-height: 1.5;
}

.header{
    background: white;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #e3e8f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    font-size: 1.5rem;
    font-weight: 600;
    color: #1e293b;

}

.header-control{
    display: flex;
    gap: 1rem;
    align-items: center;
}

